body {
  background: #ECEFF1;
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#message {
  background: white;
  max-width: 360px;
  margin: 100px auto 16px;
  padding: 32px 24px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12),
              0 1px 2px rgba(0,0,0,0.24);
}

#message h2 {
  color: #ffa100;
  font-size: 16px;
  margin-bottom: 8px;
}

#message h1 {
  font-size: 22px;
  font-weight: 300;
  color: rgba(0,0,0,0.6);
  margin-bottom: 16px;
}

#message p {
  font-size: 14px;
  line-height: 1.4;
}

#message a {
  display: block;
  text-align: center;
  background: #039be5;
  color: white;
  padding: 14px;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
}

#load {
  text-align: center;
  font-size: 13px;
  color: rgba(0,0,0,0.4);
}

@media (max-width: 600px) {
  body {
    border-top: 16px solid #ffa100;
  }

  #message {
    margin-top: 0;
    box-shadow: none;
  }
}